.App {
  background-color: #fdc538;
  margin: 50px 0;
}

.App-header {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: 0 0 0 rgba(0, 0, 0, 0.3);
}

.App h1 {
  font-size: 70px;
  font-weight: bold;
}

.App p {
  font-size: 20px;
  font-weight: bold;
}
