.App {
  background-color: blue;
  margin: 50px 0;
}

.App-header {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: white;
}

.App h1 {
  font-size: 60px;
}
.App p {
  font-size: 15px;
}
