.Dictionary section {
  background: #f5d660;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 10%);
  margin: 20px 0;
}

.Dictionary h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.Dictionary h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border: 0.2px solid #333;
  box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
  border-radius: 20px;
  color: #333;
  background-color: #f3da64;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 10px;
}
